<form method="POST" action="{{ path('event_join', {'slug': event.slug}) }}">
        <input type="hidden" name="hidden" value="{{ event.slug }}">
        <button class="bg-blue-500 items-center text-white px-4 py-3 rounded-md focus:outline-none" value="event.slug">Rejoindre l'Event</button>
</form>