<form method="POST" action="{{ path('event_join', {'slug': event.slug}) }}">
        <input type="hidden" name="hidden" value="{{ event.slug }}">
        <button class="btn" value="event.slug">join</button>
</form>