<form method="POST" action="{{ path('admin_subject_allow', {'slug': subject.slug}) }}" onsubmit="return confirm('Ce subject est invisible pour la communauté, le rendre visible?');">
        <input type="hidden" name="hidden" value="{{ subject.slug }}">
        <button class="btn" value="subject.slug">Valider ?</button>
</form>