{% extends 'admin/admin_base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
{% for subject in newsubject %}

<h3>A valider</h3>
{{ subject.title }}{{ include('admin/subject/_validate_button.html.twig') }}
{% endfor %}
<a href="{{ path('subject_new') }}">Créer un sujet</a>
{% endblock %}
