<form method="post" action="{{ path('dashboard_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet comment ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="bg-blue-500 items-center text-white px-4 py-3 rounded-md focus:outline-none">Supprimer</button>
</form>
