<!-- component -->
<footer class="footer bg-blue-100 relative pt-1 border-b-2 border-blue-700">
    <div class=" text-center py-6 flex flex-col items-center">
        <p class=" sm:w-2/3 text-sm text-center text-blue-700 font-bold mb-2">
             © 2021 by WildNoK
        </p>
    </div>
</footer>